*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------------- */
/* sidebar.jsx */
@media (max-width: 990px){
  .main-sidebar{
      width: 20vw;
  }
}
@media (max-width: 800px){
  .main-sidebar{
      width: 20vw;
  }
}
/* ------------------------------------------------------------------------------------------- */
/* listUser.jsx */
@media (max-width: 991px){
  .main-listUser{
      margin-left: 100%;
      margin-right: 0;
  }
}